@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Storm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Tipografias */

/* Montserrat:
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }

  Inter:
  .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

  /* Paleta de colores: 
Amarrillo: 

/* Reset */
¨* {
  padding: 0%;
  margin: 0%;
}



/* Footer */

Footer {
  width: 100%;
  padding: 16px;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.redes ul {
  padding: 0%;
  list-style: none;
  display: flex;
  align-items: center;

}

.politicas {
  padding: 16px;
}

.politicas img {
  height: 50px;
}

.politicas ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 0%;
}

.politicas a{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black
}



/* Header */
header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900
}

header ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  list-style: none;

}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

}

header a {
  text-decoration: none;
  color: black
}

header img {
  height: 50px;

}



/* Main de index */

.main_index {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: black;
}


.portada {}

.logo {
  width: 10%;
  padding: 16px;

}

.historia {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px;
}

.historia h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.historia div {
  width: 60%;
  padding: 0px 16px 16px 50px;
}

.historia img {
  width: 40%;
}

.excibiciones {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px
}

.descripcion {
  width: 60%;
  padding: 16px 100px 16px 16px;
  color: white;
}

.descripcion h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.descripcion h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.descripcion h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.grid_agenda h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.grid_agenda h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.grid_agenda ul {
  height: 400px;
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.grid_agenda span {
  font-size: 1rem;
  font-weight: bold;
}


/* GRID Agenda */
.grid_agenda {
  height: 500px;
  padding: 16px;
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "texto1 dias texto2"
    ". dias .";
  grid-template-rows: 100px 120px 100px;
  grid-template-columns: 30% 40% 30%
}


.titulo {
  grid-area: titulo;
  text-align: center;

}

.texto1_grid {
  grid-area: texto1;
}

.dias_grid {
  grid-area: dias;
}

.texto2_grid {
  grid-area: texto2;
}

/* GRID Excibiciones */

.grid_excibiciones {
  display: grid;
  width: 30%;
  justify-content: space-between;
  align-content: start;
  align-items: center;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "obra1 obra2 obra3"
    "obra4 obra5 obra6"
    "obra7 obra8 obra9"




}

.obra1 {
  grid-area: obra1;

}



.obra2 {
  grid-area: obra2;
}

.obra3 {
  grid-area: obra3;
}

.obra4 {
  grid-area: obra4;
}

.obra5 {
  grid-area: obra5;
}

.obra6 {
  grid-area: obra6;
}

.obra7 {
  grid-area: obra7;
}

.obra8 {
  grid-area: obra8;
}

.obra9 {
  grid-area: obra9;
}

.obra10 {
  grid-area: obra10;
}

.obra11 {
  grid-area: obra11;
}



/* Main de Menú */


/* Main de Sucursales */