@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Storm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Tipografias */

/* Montserrat:
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }

  Inter:
  .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

  /* Paleta de colores: 
Amarrillo: Gold

/* Reset */
¨* {
  padding: 0%;
  margin: 0%;
}

/* Footer */

Footer {
  width: 100%;
  padding: 16px;
  background-color: gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.redes ul {
  padding: 0%;
  list-style: none;
  display: flex;
  align-items: center;

}

.politicas {
  padding: 16px;
}

.politicas img {
  height: 50px;
}

.politicas ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 0%;
}

.politicas a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black
}

/* Header */

header {
  width: 100%;
  padding: 16px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900
}

header ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  list-style: none;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

header a {
  text-decoration: none;
  color: black
}

header img {
  height: 50px;
}

/* Main de index */

body {
  overflow-x: hidden;
}

.main_index {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: black;
}

.video iframe {
  width: 100vw;
}

.logo {
  width: 10%;
  padding: 16px;

}

.historia {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px;
}

.historia h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.historia div {
  width: 60%;
  padding: 0px 16px 16px 50px;
}

.historia img {
  width: 40%;
}

.excibiciones {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 16px
}

.descripcion {
  width: 60%;
  padding: 16px 100px 16px 16px;
  color: white;
}

.descripcion h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.descripcion h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.descripcion h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.grid_agenda h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.grid_agenda h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.grid_agenda ul {
  height: 400px;
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.grid_agenda span {
  font-size: 1rem;
  font-weight: bold;
}

.agenda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dropdown_tickets {
  display: flex;
  align-self: flex-start;
  margin: 20px;
}

.dropdown-menu li {
  margin-left: 10px !important;
}

/* GRID Agenda */

.grid_agenda {
  height: 500px;
  padding: 16px;
  display: grid;
  grid-template-areas:
    "titulo titulo titulo"
    "texto1 dias texto2"
    ". dias texto2";
  grid-template-rows: 100px 120px 100px;
  grid-template-columns: 30% 40% 30%
}

.titulo {
  grid-area: titulo;
  text-align: center;

}

.texto1_grid {
  grid-area: texto1;

}

.dias_grid {
  grid-area: dias;
}

.texto2_grid {
  grid-area: texto2;
}

.dropdown_agenda {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding-right: 16px;
}

/* Main de Excibiciones */

.main_excibiciones h1 {
  padding: 16px;
  margin-top: 60px;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: black;
}

/* GRID Excibiciones */

.grid_excibiciones {
  display: grid;
  width: 30%;
  justify-content: space-between;
  align-content: start;
  align-items: center;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "obra1 obra2 obra3"
    "obra4 obra5 obra6"
    "obra7 obra8 obra9"
}

/* OBRA 1 */
.obra1 {
  grid-area: obra1;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra1 h3 {
  font-weight: bold;
}


/* OBRA 2 */
.obra2 {
  grid-area: obra2;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra2 h3 {
  font-weight: bold;
}

/* OBRA 3 */
.obra3 {
  grid-area: obra3;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra3 h3 {
  font-weight: bold;
}


/* OBRA 4 */
.obra4 {
  grid-area: obra4;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra4 h3 {
  font-weight: bold;
}

/* OBRA 5 */
.obra5 {
  grid-area: obra5;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra5 h3 {
  font-weight: bold;
}

/* OBRA 6 */
.obra6 {
  grid-area: obra6;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra6 h3 {
  font-weight: bold;
}


/* OBRA 7 */
.obra7 {
  grid-area: obra7;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra7 h3 {
  font-weight: bold;
}

/* OBRA 8 */
.obra8 {
  padding: 16px;
  gap: 16px;
  grid-area: obra8;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra8 h3 {
  font-weight: bold;
}

/* OBRA 9 */
.obra9 {
  grid-area: obra9;
  padding: 16px;
  gap: 1px;
  display: flex;
  flex-direction: column-reverse
}

.descripcion_obra9 h3 {
  font-weight: bold;
}

/* Main de COMO LLEGAR */

main {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: black;
}

.consultas h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.sucursales {
  width: 90%;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px;
  display: flex;
  align-items: flex-start
}

.sucursales h1 {
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.malba_sucursales {
  padding: 16px;
  margin-left: 100px;
}

.malba_sucursales iframe {
  margin: 0;
}

.malba_figueroa h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0%
}

.malba_puertos {
  margin-top: 50px;
}

.malba_puertos h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0%
}

.transporte ul {
  list-style: none;
  padding: 16px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.transporte span {
  font-size: 1rem;
  font-weight: bold;
}

/* MEDIA QUERIES */

/* MOBILE */

@media (max-width: 480px) {

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header ul {
    padding: 0%;
    display: flex;
    align-items: center;
  }

  .historia {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 0%;
  }

  .historia div {
    width: 100%;
    padding: 16px;
  }

  .historia img {
    display: none;
  }

  .excibiciones id {
    width: 100%;
  }

  .excibiciones {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .descripcion {
    width: 100%;
  }

  .descripcion h2 {
    font-size: 1rem;
  }

  .descripcion p {
    width: 400px;
  }

  .w-50 {
    width: 100% !important;
  }

  .grid_agenda {
    height: auto;
    gap: 10px;
    display: grid;
    grid-template-areas:
      "titulo"
      "texto1"
      "dias"
      "texto2";
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .grid_agenda ul {
    height: 300px;
  }

  .sucursales {
    display: flex;
    flex-direction: column;
  }

  .malba_sucursales {
    margin: 0%;
  }

  .malba_sucursales iframe {
    width: 400px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }

  .redes {
    margin: 20px;
    margin-left: 0%;
  }

  .politicas {
    margin: 0%;
    padding: 0%;
  }

  .grid_excibiciones {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}