@use "./variables" as *;


/* Header */

header {
    width: 100%;
    padding: 30px;
    background-color: $blanco;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;

    .dropdown {
        display: none;
    }


    img {
        height: 50px;
    }

    nav {
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        ul {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 50px;
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    padding: 10px;
                    color: $negro;
                    border: 1px solid #000000;

                }

                a:hover {
                    color: $blanco;
                    background-color: #000000;
                    transition: 1s;
                }
            }

        }
    }

}

/* Footer */

Footer {
    width: 100%;
    padding: 16px;
    background-color: $amarillo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .redes {
        ul {
            padding: 0%;
            list-style: none;
            display: flex;
            align-items: center;

            img {
                transition: 0.3s;
            }

            img:hover {
                transform: scale(1.2);
            }


        }

    }

    .politicas {
        padding: 16px;

        img {
            height: 50px;
        }

        nav {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 30px;
                padding: 0%;

                li {
                    a {
                        font-family: "Montserrat", sans-serif;
                        font-weight: bold;
                        text-decoration: none;
                        color: $negro;
                        opacity: 100%;
                        
                    }
                    a:hover{
                        opacity: 50%;
                    }

                
                }

            }
        }
    }

}