@use "./variables" as *;
/* Main de index */

.main_index {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: $negro;

    .portada {
        width: 100%;
        height: 400px;

        background-size: cover;
        animation-name: portada;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-duration: 10s;
    }

}

iframe {
    width: 100vw;
}

.logo {
    img {
        width: 30%;
        padding: 30px;
    }
}

.historia {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;

    img {
        width: 40%;
    }

    div {
        width: 60%;
        padding: 0px 16px 16px 50px;

        h1 {
            @include estilo_titulo
        }
    }
}

.excibiciones {
    background-color: $negro;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;

    .descripcion {
        width: 60%;
        padding: 0px 100px 16px 16px;
        color: $blanco;

        h2 {
            @include estilo_titulo
        }

        h3 {
            @include estilo_subtitulo
        }

        h4 {
            font-family: "Montserrat", sans-serif;
            font-size: 1rem;
            font-weight: bold;

        }
    }
}

.agenda {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .grid_agenda {
        height: 500px;
        padding: 30px;
        display: grid;
        grid-template-areas:
            "titulo titulo titulo"
            "texto1 dias texto2"
            ". dias texto2";
        grid-template-rows: 100px 120px 100px;
        grid-template-columns: 30% 40% 30%;

        .titulo {
            grid-area: titulo;
            text-align: center;
            @include estilo_titulo
        }

        .texto1_grid {
            grid-area: texto1;
            @include estilo_titulo
        }

        .dias_grid {
            grid-area: dias;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 400px;

            li {
                span {
                    @include estilo_span
                }
            }
        }

        .texto2_grid {
            grid-area: texto2;
        }

    }

}

@keyframes portada {
    0% {
        background-image: url(../imagenes/portada.jpg);

    }

    25% {
        background-image: url(../imagenes/portada_2.jpg);

    }

    50% {
        background-image: url(../imagenes/portada_3.jpg);


    }

    75% {
        background-image: url(../imagenes/portada_4.jpg);

    }

    100% {
        background-image: url(../imagenes/portada.jpg);

    }


}


/* Main de Exhibiciones */
.main_excibiciones {

    h1 {
        padding: 30px;
        margin-top: 60px;
        color: $negro;
        @include estilo_titulo
    }

    .grid_excibiciones {
        display: grid;
        width: 30%;
        justify-content: space-between;
        align-content: start;
        align-items: center;
        gap: 50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "obra1 obra2 obra3"
            "obra4 obra5 obra6"
            "obra7 obra8 obra9";

        .obra1 {
            grid-area: obra1;
            padding: 16px 16px 16px 30px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }

                }
            }
        }

        .obra2 {
            grid-area: obra2;
            padding: 16px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }

                }
            }
        }

        .obra3 {
            grid-area: obra3;
            padding: 16px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }

                }
            }
        }

        .obra4 {
            grid-area: obra4;
            padding: 16px 16px 16px 30px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }
                }
            }
        }

        .obra5 {
            grid-area: obra5;
            padding: 16px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }

                }
            }
        }

        .obra6 {
            grid-area: obra6;
            padding: 16px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }
                }
            }
        }

        .obra7 {
            grid-area: obra7;
            padding: 16px 16px 16px 30px;
            gap: 16px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }
                }
            }
        }

        .obra8 {
            padding: 16px;
            gap: 16px;
            grid-area: obra8;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }
                }
            }

        }

        .obra9 {
            grid-area: obra9;
            padding: 16px;
            gap: 1px;
            display: flex;
            flex-direction: column-reverse;

            div {
                h2 {
                    a {
                        @include descripcion_obras
                    }
                }
            }
        }
    }
}

/* Main de COMO LLEGAR */
.main_como_llegar {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: $negro;

    .sucursales {
        width: 90%;
        padding: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;

        h1 {
            padding: 16px;
            @include estilo_titulo;
        }

        .malba_sucursales {
            padding: 16px;
            margin-left: 100px;

            iframe {
                margin: 0;
                width: 100%;
                height: 400px;
            }

            .malba_figueroa {
                display: flex;
                flex-direction: column;

                h3 {
                    @include estilo_subtitulo;
                    margin: 0%
                }
            }

            .malba_puertos {
                margin-top: 50px;

                h3 {
                    @include estilo_subtitulo;
                    margin: 0%
                }
            }

        }

    }

    .transporte {
        ul {
            list-style: none;
            padding: 30px;
            gap: 20px;
            display: flex;
            flex-direction: column;

            li {
                span {
                    @include estilo_span;
                }
            }

        }

    }
}